/* font */
@import url('../assets/font/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=DM+Sans:ital,opsz@1,9..40&family=Mea+Culpa&display=swap');
@import url('https://fonts.cdnfonts.com/css/samarkan');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-bodyBg;
    @apply scroll-smooth;
    @apply min-h-screen;
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}
